
.ts_wrapper{
	margin:0 auto;
}



.ts_sbox{
	display:block;
	float:left;
	overflow:hidden;
}

.ts_sbox_inner{
	display:block;
	background-color:#FFF;
	margin-left:100%;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.ts_sgo{
	display:block;
	float:right;
	width:50px;
	height:50px;
	background-color:#FF9900;
}

.ts_sgo a{
	border:none;
	text-decoration:none;
}

.ts_sgo a img{
	border:none;
}

.ts_slide{
	margin-left:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

form{
	padding:0;
	margin:0;
}

.ts_input_inner{
	display:block;
	padding:0px 6px 0px 10px;
	margin:0;
	height:50px;
	background-color:#FFF;
	border:none;
	font-family:'helvetica neue', helvetica, arial, sans-serif;
	font-size:30px;
	font-weight:100;
	outline:none;
}